body > div:first-child {
  overflow-x: hidden;
}

@media only screen and (max-width: 511px) {
  .button-margin-mobile {
    margin-top: 10px !important;
  }

  .h2-resize-mobile {
    font-size: 24px !important;
  }
}
